.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    font-size: 50px;
}

//time for bad practice
.btn{
    margin-left: 5px;
    margin-right: 5px;
}