
 <div class="container">
  <section class="main">
    <div class="timer">
      <div class="digital">
        {{ getTimeStringMinutes() }}
        <span class="">:</span>
        {{ getTimeStringSeconds() }}
        <span class="">:</span>
        {{ getTimeStringMilliseconds() }}
      </div> 
    </div>
    <div class="timer-buttons_block">
      <button class="btn" (click)="onRunToggle()">{{buttonText}}</button>
      <button class="btn" (dblclick)="onWait()">Wait</button>
      <button class="btn" (click)="onReset()">reset</button>
      <button id="gg">GG</button>
    </div>
  </section> 
</div> 





